{% extends "base.html" %}

{% block content %}

<div class="mt-4">

    {% for message in get_flashed_messages() %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    <div class="row justify-content-between">
        <div class="col-5">
            <h3>Toekomstige Transacties</h3>
        </div>
        <div class="col text-right">
            <h4>Totalen: &nbsp; {{ gevonden }} &nbsp; - &nbsp; &euro; {{ totaal_bedrag|currencyFormat }}</h4>
        </div>
    </div>

    <form method="POST" action="{{ url_for('transacties_bp.alle_toekomst_transacties') }}">
        <div class="row">
            <div class="col-3">
                <div class="form-group">
                    <label for="rekening" class="col-form-label">Rekening</label>
                    <select class="custom-select" name="rekening">
                        <option value=""></option>
                        {% for rekening in rekeningen %}
                            {% if rekening == velden["rekening"] %}
                                <option selected value="{{ rekening }}">{{ rekening }}</option>
                            {% else %}
                                <option value="{{ rekening }}">{{ rekening }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <label for="datum_van" class="col-form-label">Datum vanaf</label>
                    <input class="form-control" type="text" name="datum_van" placeholder="yyyy-mm-dd" value="{{velden['datum_van']}}">
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <label for="s" class="col-form-label">&nbsp;</label>
                    <button type="submit" class="btn btn-outline-info btn-block" name="form-btn" value="filter">Filter</button>
                </div>
            </div>
        </div>
    </form>
   
    {% if gevonden %}
        <div class="table-responsive-md mr-4">
            <table class="table table-striped table-hover table-sm mx-3">
                <thead class="thead-light">
                    <tr class="row">
                        <th class="col-sm-1">Id</th>
                        <th class="col-sm-1">Datum</th>
                        <th class="col-sm-4">Naam</th>
                        <th class="col-sm-3">Categorie</th>
                        <th class="col-sm-2">Soort</th>
                        <th class="col-sm-1 text-right">Bedrag</th>
                    </tr>
                </thead>

                <tbody>
                {% for transactie in transacties %}
                    <tr class="row">
                        <td class="col-sm-1 text-truncate">
                            <a href="{{url_for('transacties_bp.show_toekomstige_transactie', trans_id=transactie._id)}}">{{ transactie._id}}</a>
                        </td>
                        <td class="col-sm-1">{{transactie.datum.date()}}</td>
                        <td class="col-sm-4">{{transactie.naam}}</td>
                        {% if transactie.posts[0] %}
                            <td class="col-sm-3">{{transactie.posts[0].categorie}}</td>
                            <td class="col-sm-2">{{transactie.posts[0].soort}}</td>
                        {% else %}
                            <td class="col-sm-3">**********</td>
                            <td class="col-sm-2">**********</td>
                        {% endif %}
                        {% if transactie.bedrag >= 0 %}
                            <td class="col-sm-1 text-right" style="background-color: #afe3c3">&euro; {{transactie.bedrag | currencyFormat}}</td>
                        {% else %}
                            <td class="col-sm-1 text-right" style="background-color: #fcb6b6">&euro; {{transactie.bedrag | currencyFormat}}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        
    {% endif %}

</div>

{% endblock %}